body{
    font-family: 'Times New Roman', Times, serif;
}
#login{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),#3d95e3), url(../img/Exam.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    padding-top: 80px;
    font-size: 60px;
}
.login-frame{
  width: 600px;
  margin: 40px;
  border: 1px solid;
  border-radius: 20px;
  padding: 14px;
}
.btn{
    margin-left: 25%;
}
.sub-heading{
    margin-top: 30px;
}

@media only screen and (max-width: 430px){
    #login{
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.5),#3d95e3), url(../img/Exam.jpg);
        background-position-x: center;
        background-size: cover;
    }
    .login-frame{
        width: 350px;
    }
    .heading{
        font-size: 40px;
        padding-top: 120px;
    }
}